
__pycache__
*/__pycache__
*.pyc
*.*~
*.log
*.out
*.err
*.list
*.txt
*.pdf
*.png
*.eps
*.bak
*.h5
*.csv
*.root
*.json
*.Xauthority
*.bash_history
foo/*
.DS_Store
#*.*#
build/
*.egg-info/
bin/
foo/*
foo/
